name: bluebuild
on:
  schedule:
    - cron:
        "00 06 * * *" # build at 06:00 UTC every day
    
  # Pushes – only when they land on main or test
  push:
    branches:
      - main
      - test
    paths-ignore: # don't rebuild if only documentation has changed
      - "**.md"

  # the merge will also trigger a push, so it would build twice.
  # since I have not the need to check the build before merging, I disabled it.
  # Pull‑request events – only for PRs targeting main or test
  #pull_request:
  #  branches:
  #    - main
  #    - test
  workflow_dispatch: # allow manually triggering builds
concurrency:
  # only run one build at a time
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true
jobs:
  bluebuild:
    name: Build Custom Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    # Guard clause – abort early if we’re not on main or test.
    # This protects run from building on other branches when triggered by cron schedule.
    if: |
      github.ref == 'refs/heads/main' ||
      github.ref == 'refs/heads/test'
    strategy:
      fail-fast: false # stop GH from cancelling all matrix builds if one fails
      matrix:
        recipe:
          #- pureuda-os.yml
          #- pureuda-os-gaming.yml
          - pureuda-os-cosmic.yml
    steps:
      # the build is fully handled by the reusable github action
      - name: Build Custom Image
        uses: blue-build/github-action@v1.11
        with:
          recipe: ${{ matrix.recipe }}
          cosign_private_key: ${{ secrets.SIGNING_SECRET }}
          registry_token: ${{ github.token }}
          pr_event_number: ${{ github.event.number }}

          # enabled by default, disable if your image is small and you want faster builds
          maximize_build_space: true
